<h1>Articles Page</h1>
<table class="table table-bordered  table-hover mt-3" id="usertable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= link_to article.title, article %></td>
        <td><%= article.body %></td>
        <td>
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning btn-sm' %>&nbsp;&nbsp;
            <%= link_to 'Destroy', article, class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: "Are you sure"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Article", new_article_path %>
